[Merger]
    [[General]]
        image_format = string(default=png)

        # Which steps should be saved?
        # Options: frame, diff, metric, layer, merge, final (like merge, but
        #   only at the end)
        save = string_list(default=list('final'))

        # Which steps should have a live preview?
        # Same options as 'save'
        preview = string_list(default=list())

    [[Metric]]
        # Strategy to calculate a metric on the rgb values
        # Options: R3 (R3 metric)
        strategy = string(default=R3)

        # todo: isn't that also post processing?

        # Metric gets multiplied by this
        intensity = float(default=500)

        # This value gets added to the metric
        zero_value = float(default=1.)

        # Metric can get blurred
        blur_shape = int_list(default=list(5,5))
        blur_sigmas = int_list(default=list(0,0))

    [[MetricPostProcessing]]
        # Operations performed on the metric values
        # Options: cutoff, edge
        postprocessing = string_list(default=list('cutoff'))

            [[[cutoff]]]
                threshold = float(default=0.1)
                min = float(default = 0.1)
                max = float(default = 1.)
